*{
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Indie Flower', cursive;
}
html{
    scroll-behavior: smooth;
    
}

body{
    margin-top: 0;
}

.verticalSlider{
    height: 400vh;
    width: 100%;
}
.landing{
    display: flex;
    height: 100%;
    width: 100%;
   
}

.landingVideo{
    height: 100%;
    width: 100%;
    
}